<a href="https://colab.research.google.com/github/basdwar1997/Employee-Attrition-Analysis/blob/main/nandinibasdwar2ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd  # Import the pandas library and give it the alias 'pd'
import numpy as np

df = pd.read_csv('/content/companies (1).csv')
df.head()

,id,Unnamed: 0.1,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,...,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng,ROI
0,c:1,0,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,...,9/5/2010,9/18/2013,5.0,17.0,initial-importer,5/25/2007 6:51,4/13/2013 3:29,47.606209,-122.332071,15.5
1,c:10,1,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,...,NaN,NaN,NaN,6.0,initial-importer,5/31/2007 21:11,5/23/2008 23:23,34.021122,-118.396467,NaN
2,c:100,2,Company,100,NaN,There,there,/company/there,games_video,acquired,...,2/1/2003,9/23/2011,4.0,12.0,initial-importer,8/6/2007 23:52,11/4/2013 2:09,37.562992,-122.325525,NaN
3,c:10000,3,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,...,NaN,NaN,NaN,NaN,NaN,8/24/2008 16:51,9/6/2008 14:19,NaN,NaN,NaN
4,c:10001,4,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,...,NaN,NaN,NaN,NaN,NaN,8/24/2008 17:10,9/6/2008 14:19,NaN,NaN,NaN

In [ ]:
df.tail()

,id,Unnamed: 0.1,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,...,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng,ROI
16913,c:153847,16913,Company,153847,NaN,The Minerva Project,the minerva project,/company/the-minerva-project,education,operating,...,1/15/2013,4/22/2013,3.0,5.0,arun,4/4/2012 3:48,9/24/2013 3:08,37.774929,-122.419415,NaN
16914,c:153848,16914,Company,153848,NaN,Asterino & Associates,asterino associates,/company/asterino-associates,NaN,operating,...,NaN,NaN,NaN,NaN,timircha,4/4/2012 3:51,4/4/2012 3:56,33.494170,-111.926052,NaN
16915,c:153849,16915,Company,153849,NaN,Picture Picasso,picture picasso,/company/picture-picasso,web,operating,...,NaN,NaN,NaN,NaN,NaN,4/4/2012 4:01,4/11/2012 3:57,NaN,NaN,NaN
16916,c:15385,16916,Company,15385,NaN,Achill Online Internet Solutions,achill online internet solutions,/company/achill-online-internet-services,public_relations,operating,...,NaN,NaN,NaN,1.0,NaN,12/15/2008 22:57,4/23/2009 14:56,53.961951,-10.015335,NaN
16917,c:153850,16917,Company,153850,NaN,Vidzallday,vidzallday,/company/vidzallday,games_video,operating,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16918 entries, 0 to 16917
Data columns (total 44 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   16918 non-null  object
 1   Unnamed: 0.1         16918 non-null  int64
 2   entity_type          16918 non-null  object
 3   entity_id            16918 non-null  int64
 4   parent_id            0 non-null      float64
 5   name                 16915 non-null  object
 6   normalized_name      16916 non-null  object
 7   permalink            16918 non-null  object
 8   category_code        12891 non-null  object
 9   status               16918 non-null  object
 10  founded_at           10611 non-null  object
 11  closed_at            365 non-null    object
 12  domain               13264 non-null  object
 13  homepage_url         13264 non-null  object
 14  twitter_username     8928 non-null   object
 15  logo_url             12372 non-null  object
 16  logo_width           12371 non-null  float64
 17  logo_height          12371 non-null  float64
 18  short_description    710 non-null    object
 19  description          9400 non-null   object
 20  overview             13059 non-null  object
 21  tag_list             9972 non-null   object
 22  country_code         9791 non-null   object
 23  state_code           5625 non-null   object
 24  city                 9427 non-null   object
 25  region               16917 non-null  object
 26  first_investment_at  300 non-null    object
 27  last_investment_at   300 non-null    object
 28  investment_rounds    302 non-null    float64
 29  invested_companies   302 non-null    float64
 30  first_funding_at     3242 non-null   object
 31  last_funding_at      3242 non-null   object
 32  funding_rounds       3272 non-null   float64
 33  funding_total_usd    2803 non-null   float64
 34  first_milestone_at   8119 non-null   object
 35  last_milestone_at    8119 non-null   object
 36  milestones           8119 non-null   float64
 37  relationships        11135 non-null  float64
 38  created_by           9356 non-null   object
 39  created_at           16917 non-null  object
 40  updated_at           16917 non-null  object
 41  lat                  9425 non-null   float64
 42  lng                  9425 non-null   float64
 43  ROI                  84 non-null     float64
dtypes: float64(12), int64(2), object(30)
memory usage: 5.7+ MB

In [ ]:
df.describe()

,Unnamed: 0.1,entity_id,parent_id,logo_width,logo_height,investment_rounds,invested_companies,funding_rounds,funding_total_usd,milestones,relationships,lat,lng,ROI
count,16918.000000,16918.000000,0.0,12371.000000,12371.000000,302.000000,302.000000,3272.000000,2.803000e+03,8119.000000,11135.000000,9425.000000,9425.000000,84.000000
mean,8458.500000,104791.662903,NaN,488.434888,228.040094,2.145695,1.970199,1.775367,1.611960e+07,1.329228,3.642928,37.507063,-51.414851,27.295466
std,4883.950263,59207.745541,NaN,643.109540,353.140758,3.789121,3.284278,1.275536,1.177998e+08,0.683182,12.891591,15.754982,69.673504,105.412299
min,0.000000,1.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+03,1.000000,1.000000,-45.878760,-157.858333,0.400000
25%,4229.250000,14750.250000,NaN,198.000000,69.000000,1.000000,1.000000,1.000000,5.000000e+05,1.000000,1.000000,34.052234,-111.940005,2.436351
50%,8458.500000,141182.500000,NaN,278.000000,107.000000,1.000000,1.000000,1.000000,2.475000e+06,1.000000,2.000000,39.952584,-75.383552,6.683069
75%,12687.750000,147570.500000,NaN,506.500000,241.000000,2.000000,1.000000,2.000000,1.150000e+07,1.000000,4.000000,45.487062,0.121817,19.262363
max,16917.000000,153850.000000,NaN,17472.000000,9600.000000,32.000000,29.000000,13.000000,5.700000e+09,8.000000,1189.000000,69.649205,174.776236,954.548926

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.isnull().sum()

id                         0
Unnamed: 0.1               0
entity_type                0
entity_id                  0
parent_id              16918
name                       3
normalized_name            2
permalink                  0
category_code           4027
status                     0
founded_at              6307
closed_at              16553
domain                  3654
homepage_url            3654
twitter_username        7990
logo_url                4546
logo_width              4547
logo_height             4547
short_description      16208
description             7518
overview                3859
tag_list                6946
country_code            7127
state_code             11293
city                    7491
region                     1
first_investment_at    16618
last_investment_at     16618
investment_rounds      16616
invested_companies     16616
first_funding_at       13676
last_funding_at        13676
funding_rounds         13646
funding_total_usd      14115
first_milestone_at      8799
last_milestone_at       8799
milestones              8799
relationships           5783
created_by              7562
created_at                 1
updated_at                 1
lat                     7493
lng                     7493
ROI                    16834
dtype: int64

In [ ]:
percentage_missing_values =df.isnull().sum()*100/len(df)
percentage_missing_values

id                       0.000000
Unnamed: 0.1             0.000000
entity_type              0.000000
entity_id                0.000000
parent_id              100.000000
name                     0.017733
normalized_name          0.011822
permalink                0.000000
category_code           23.803050
status                   0.000000
founded_at              37.279820
closed_at               97.842535
domain                  21.598298
homepage_url            21.598298
twitter_username        47.227805
logo_url                26.870789
logo_width              26.876699
logo_height             26.876699
short_description       95.803286
description             44.437877
overview                22.810025
tag_list                41.056863
country_code            42.126729
state_code              66.751389
city                    44.278283
region                   0.005911
first_investment_at     98.226741
last_investment_at      98.226741
investment_rounds       98.214919
invested_companies      98.214919
first_funding_at        80.836978
last_funding_at         80.836978
funding_rounds          80.659652
funding_total_usd       83.431848
first_milestone_at      52.009694
last_milestone_at       52.009694
milestones              52.009694
relationships           34.182527
created_by              44.697955
created_at               0.005911
updated_at               0.005911
lat                     44.290105
lng                     44.290105
ROI                     99.503487
dtype: float64

In [ ]:
delet_columns=percentage_missing_values[percentage_missing_values>70].index
len(delet_columns)
df_clean=df.drop(columns=delet_columns)

In [ ]:
df_clean.shape

(16918, 32)

In [ ]:
delet_columns

Index(['closed_at', 'short_description', 'first_investment_at',
       'last_investment_at', 'investment_rounds', 'invested_companies',
       'first_funding_at', 'last_funding_at', 'funding_rounds',
       'funding_total_usd', 'ROI'],
      dtype='object')

In [ ]:
df_clean =df_clean.dropna(subset=['name','normalized_name'],axis=0)
df_clean.head(10)

,id,Unnamed: 0.1,entity_type,entity_id,name,normalized_name,permalink,category_code,status,founded_at,...,region,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng
0,c:1,0,Company,1,Wetpaint,wetpaint,/company/wetpaint,web,operating,10/17/2005,...,Seattle,9/5/2010,9/18/2013,5.0,17.0,initial-importer,5/25/2007 6:51,4/13/2013 3:29,47.606209,-122.332071
13,c:1001,13,Company,1001,FriendFeed,friendfeed,/company/friendfeed,web,acquired,10/1/2007,...,SF Bay,5/1/2008,9/13/2012,3.0,14.0,initial-importer,10/1/2007 10:17,3/13/2013 21:44,37.386052,-122.083851
61,c:100442,61,Company,100442,Amantel,amantel,/company/amantel,mobile,operating,1/1/2002,...,Iselin,1/1/2002,8/1/2012,2.0,1.0,amantel,9/7/2011 6:37,10/13/2012 21:31,40.575382,-74.322370
66,c:10054,66,Company,10054,Jumptap,jumptap,/company/jumptap,mobile,acquired,1/1/2005,...,Boston,1/19/2012,8/13/2013,3.0,45.0,cameronc,8/25/2008 17:51,3/13/2013 2:40,42.360082,-71.058880
74,c:100607,74,Company,100607,Jogabo,jogabo,/company/jogabo,games_video,operating,1/1/2011,...,SF Bay,12/1/2012,12/1/2012,1.0,5.0,mehdidjabri,9/7/2011 8:58,12/27/2012 2:16,37.774929,-122.419415
112,c:10087,112,Company,10087,TextMarks,textmarks,/company/textmarks,mobile,operating,1/1/2007,...,SF Bay,10/12/2008,10/12/2008,1.0,2.0,cameronc,8/25/2008 21:05,3/2/2010 23:01,37.774929,-122.419415
113,c:100873,113,Company,100873,Circlefive,circlefive,/company/circlefive,software,operating,1/1/2011,...,Salt Lake City,1/1/2011,1/1/2011,1.0,3.0,rjwalker,9/7/2011 14:29,1/30/2013 3:05,41.223000,-111.973830
134,c:1010,134,Company,1010,Gazelle,gazelle,/company/gazelle,ecommerce,operating,1/1/2006,...,Boston,8/1/2011,8/31/2012,2.0,20.0,initial-importer,10/2/2007 15:20,3/18/2013 5:21,42.360082,-71.058880
173,c:101324,173,Company,101324,DatingSauce,datingsauce,/company/datingsauce,web,operating,6/1/2011,...,SF Bay,6/1/2011,6/1/2011,1.0,2.0,facebookuser1906658,9/8/2011 0:19,12/12/2011 18:03,37.386052,-122.083851
177,c:101340,177,Company,101340,ChoicePass,choicepass,/company/choicepass,enterprise,acquired,7/1/2011,...,SF Bay,7/1/2011,7/1/2011,1.0,2.0,kylelui,9/8/2011 0:47,5/2/2012 9:44,37.774929,-122.419415

In [ ]:
df_clean.shape

(973, 32)

In [ ]:
df_clean['country_code'].head(5)

0     USA
13    USA
61    USA
66    USA
74    USA
Name: country_code, dtype: object

In [ ]:
df_clean['category_code'].head(10)

0              web
13             web
61          mobile
66          mobile
74     games_video
112         mobile
113       software
134      ecommerce
173            web
177     enterprise
Name: category_code, dtype: object

In [ ]:
df_clean['relationships'].head(5)

0     17.0
13    14.0
61     1.0
66    45.0
74     5.0
Name: relationships, dtype: float64

In [ ]:
df

In [ ]:
df_clean['domain']=df_clean['domain'].fillna('unknown')
df_clean['overview']=df_clean['overview'].fillna('unknown')
df_clean['logo_url']=df_clean['logo_url'].fillna('0')
df_clean['homepage_url']=df_clean['homepage_url'].fillna('unknown')
df_clean['founded_at']=df_clean['founded_at'].fillna('unknown')
mean_value=df_clean['relationships'].mean()
df_clean['relationships']=df_clean['relationships'].fillna(mean_value)
df_clean['created_by']=df_clean['created_by'].fillna('unknown')
df_clean['updated_at']=df_clean['updated_at'].fillna('unknown')

In [ ]:
percentage_missing_values =df_clean.isnull().sum()*100/len(df)
percentage_missing_values

id                    0.0
Unnamed: 0.1          0.0
entity_type           0.0
entity_id             0.0
name                  0.0
normalized_name       0.0
permalink             0.0
category_code         0.0
status                0.0
founded_at            0.0
domain                0.0
homepage_url          0.0
twitter_username      0.0
logo_url              0.0
logo_width            0.0
logo_height           0.0
description           0.0
overview              0.0
tag_list              0.0
country_code          0.0
state_code            0.0
city                  0.0
region                0.0
first_milestone_at    0.0
last_milestone_at     0.0
milestones            0.0
relationships         0.0
created_by            0.0
created_at            0.0
updated_at            0.0
lat                   0.0
lng                   0.0
dtype: float64

In [ ]:
# all the categorical variables
for i in df_clean.columns:
  if df_clean[i].dtype=='object':
    print(i,df_clean[i].nunique())

id 973
entity_type 1
name 973
normalized_name 973
permalink 973
category_code 37
status 4
founded_at 337
domain 973
homepage_url 973
twitter_username 973
logo_url 973
description 970
overview 973
tag_list 972
country_code 5
state_code 42
city 321
region 129
first_milestone_at 420
last_milestone_at 483
created_by 781
created_at 969
updated_at 962

In [ ]:
#now label encoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder() # Use LabelEncoder instead of label_encoder
df_clean['country_code']=le.fit_transform(df_clean['country_code'])

In [ ]:
df_clean.sample(20)

,id,Unnamed: 0.1,entity_type,entity_id,name,normalized_name,permalink,category_code,status,founded_at,...,region,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng
6668,c:140145,6668,Company,140145,PayByGroup,paybygroup,/company/paybygroup,ecommerce,operating,10/1/2011,...,SF Bay,10/1/2011,9/18/2013,2.0,4.0,facebookuser1101148,10/27/2011 23:29,11/22/2013 9:56,37.774929,-122.419415
9099,c:143616,9099,Company,143616,HN Discounts Corporation,hn discounts,/company/hn-discounts-corporation,ecommerce,closed,10/1/2011,...,Atlanta,10/1/2011,10/1/2011,1.0,2.0,hndiscounts,12/4/2011 19:16,9/11/2013 11:58,40.294186,-74.724928
9366,c:143945,9366,Company,143945,MindSumo,mindsumo,/company/mindsumo,web,operating,11/1/2011,...,SF Bay,11/1/2011,11/1/2011,1.0,4.0,tshazy,12/7/2011 20:11,1/21/2013 6:41,37.386052,-122.083851
10220,c:145020,10220,Company,145020,Liibook,liibook,/company/liibook,ecommerce,operating,7/21/2010,...,SF Bay,10/1/2011,3/15/2013,2.0,7.0,romafederico,12/21/2011 15:16,5/7/2013 4:48,37.485215,-122.236355
7108,c:140858,7108,Company,140858,FedTax,fedtax,/company/fedtax,web,operating,7/1/2008,...,Seattle,10/4/2013,10/4/2013,1.0,7.0,fedtax,11/4/2011 0:49,11/20/2011 7:41,47.530101,-122.032619
2591,c:117101,2591,Company,117101,Lucky Sort,lucky sort,/company/lucky-sort,analytics,acquired,5/1/2011,...,Portland,5/1/2012,11/1/2012,2.0,7.0,luckysort,9/27/2011 1:14,11/17/2011 22:27,45.523062,-122.676481
1525,c:1078,1525,Company,1078,The Climate Corporation,the climate,/company/the-climate-corporation,cleantech,acquired,1/1/2006,...,SF Bay,7/13/2012,1/1/2013,2.0,28.0,initial-importer,10/17/2007 11:02,3/16/2013 2:51,37.774929,-122.419415
11307,c:146413,11307,Company,146413,Desti,desti,/company/tripboard,travel,operating,11/18/2011,...,SF Bay,9/1/2012,11/9/2012,2.0,8.0,nadavgur,1/9/2012 18:34,7/17/2013 9:58,37.452960,-122.181725
11750,c:147051,11750,Company,147051,Koopio,koopio,/company/koopio,mobile,operating,12/1/2011,...,SF Bay,12/1/2011,12/1/2011,1.0,3.0,koopio,1/16/2012 21:39,3/3/2012 12:10,37.774929,-122.419415
4394,c:1309,4394,Company,1309,Loopt,loopt,/company/loopt,mobile,acquired,1/1/2005,...,SF Bay,7/9/2010,3/9/2012,3.0,21.0,initial-importer,11/12/2007 9:44,7/5/2013 21:26,37.386052,-122.083851
10363,c:145178,10363,Company,145178,emPower eLearning Solutions,empower elearning solutions,/company/empower-elearning-solutions,education,operating,3/1/2003,...,Louisville,10/1/2008,10/1/2008,1.0,3.0,jasongaya,12/23/2011 9:58,1/14/2012 9:44,38.252665,-85.758456
6862,c:140469,6862,Company,140469,Shearless,shearless,/company/shearless,web,operating,10/1/2011,...,Nashville,10/1/2011,10/1/2011,1.0,1.0,docgotham,10/31/2011 18:33,11/5/2011 2:29,36.162664,-86.781602
15947,c:152746,15947,Company,152746,Smallknot,smallknot,/company/smallknot,finance,operating,10/1/2012,...,New York,1/1/2011,6/14/2012,2.0,5.0,zachperret,3/22/2012 23:47,5/27/2013 13:45,40.678178,-73.944158
5939,c:138791,5939,Company,138791,Vision Point Systems,vision point systems,/company/vision-point-systems,software,operating,10/17/2002,...,Blacksburg,4/21/2003,4/21/2003,1.0,2.0,facebookuser642018498,10/18/2011 17:17,10/30/2011 23:58,37.229573,-80.413939
7696,c:141688,7696,Company,141688,StartX,startx,/company/startx,nonprofit,operating,1/1/2009,...,SF Bay,2/7/2013,4/1/2013,2.0,11.0,bradknewman,11/11/2011 22:59,9/16/2013 3:40,37.441883,-122.143019
2708,c:11817,2708,Company,11817,MyShape,myshape,/company/myshape,ecommerce,closed,9/1/2003,...,Los Angeles,5/1/2006,11/10/2010,2.0,3.0,sophia,10/2/2008 20:10,9/13/2013 13:08,34.142508,-118.255075
6679,c:140163,6679,Company,140163,SpearFysh,spearfysh,/company/spearfysh,software,operating,5/9/2011,...,Cleveland,1/1/2013,1/1/2013,1.0,4.0,arun,10/28/2011 3:47,2/14/2013 6:27,41.312555,-81.440113
5458,c:13726,5458,Company,13726,Balsamiq,balsamiq,/company/balsamiq,web,operating,6/19/2008,...,Sacramento,2/1/2010,12/6/2011,2.0,5.0,byron,11/18/2008 21:14,6/22/2011 19:02,38.581572,-121.494400
13344,c:149476,13344,Company,149476,Rize Technology Corporation,rize technology,/company/rize-technology-corporation,software,operating,1/1/2003,...,Charlotte,1/1/2003,1/1/2006,2.0,1.0,alexanderw,2/15/2012 8:43,11/8/2012 2:59,35.227087,-80.843127
6493,c:139865,6493,Company,139865,HATCHEDit,hatchedit,/company/hatchedit,web,operating,3/1/2011,...,Westfield,5/21/2012,5/21/2012,1.0,3.0,kirsten15,10/26/2011 0:09,11/23/2011 9:22,42.131825,-72.794153